<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Objetivos en Backend</title>
</head>
<body>
    <h1>Mis Objetivos</h1>
    <ul>
        {% for goal in goals %}
            <li><strong>{{ goal.term }}:</strong> {{ goal.description }}</li>
        {% endfor %}
    </ul>

    <!-- Enlace para volver a la página de inicio -->
    <p><a href="{% url 'home' %}">Volver a la página de inicio</a></p>

    <!-- Incluir el footer -->
    {% include '_footer_principal.html' %}  

</body>
</html>
