<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Objetivos</title>
</head>
<body>
    <h1>Mis Objetivos en Backend</h1>
    <ul>
        {% for goal in goals %}
            <li>
                <h2>{{ goal.term }}: {{ goal.description }}</h2>
                <ul>
                    {% for task in goal.task_set.all %}
                        <li>
                            <strong>{{ task.title }}</strong>
                            <form method="post" action="{% url 'change_task_status' task.id %}" style="display:inline;">
                                {% csrf_token %}
                                <select name="status" onchange="this.form.submit()">
                                    <option value="Pending" {% if task.status == 'Pending' %}selected{% endif %}>Pendiente</option>
                                    <option value="In Progress" {% if task.status == 'In Progress' %}selected{% endif %}>En progreso</option>
                                    <option value="Completed" {% if task.status == 'Completed' %}selected{% endif %}>Completado</option>
                                </select>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <!-- Incluir el footer -->
    {% include '_footer_principal.html' %}
</body>
</html>
