<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Camino de Aprendizaje</title>
</head>
<body>
    <h1>Mi Camino de Aprendizaje en Backend</h1>
    <ul>
        {% for step in steps %}
            <li>
                <h3>{{ step.title }}:</h3> 
                <p>{{ step.description }}</p> 
                <p>{% if step.completed %} Completado {% else %} En progreso {% endif %}</p>
            </li>
        {% endfor %}
    </ul>

    <!-- Enlace para volver a la página de inicio -->
    <p><a href="{% url 'home' %}">Volver a la página de inicio</a></p>

    <!-- Incluir el footer -->
    {% include '_footer_principal.html' %}
</body>
</html>

